.hero {
  position: relative;
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 45px;
  height: calc(100vh - 60px);
  background: #d5b981;
  overflow: hidden;
  .container-fluid {
    padding: 0 !important;
  }
  &-image {
    position: relative;
    text-align: right;
    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  &-text {
    position: relative;
    padding-left: 75px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: #1d2434;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      color: #1d2434;
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 991.98px) {
  .hero .hero-text {
    padding-left: 15px;
  }

  .hero .hero-text h1 {
    font-size: 35px;
  }

  .hero .hero-text p {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .hero .hero-text h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .hero .hero-text p {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-text h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .hero .hero-text p {
    font-size: 14px;
  }
}
